body {
    background-color: #FBF5EA;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

.container, .table {
    max-width: 1280px;
}

.navbar-public {
    background-color: #9d1348;
    border-radius: 0px;
    height: 45px;
    margin-bottom: 0px !important;
}

    .navbar-public .navbar-brand img {
        width: 112px;
        height: 18px;
    }

    .navbar-public .navbar-right {
        padding-right: 15px;
    }

.navbar-breadcrumb {
    background-color: #ffffff;
    border-radius: 0px;
    min-height: 35px;
}

    .navbar-breadcrumb .breadcrumb {
        background-color: #ffffff;
        padding-left: 0px !important;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }

.breadcrumbHeader {
    color: #000000!important;
}

.clickableStatus {
    cursor: pointer;
}

.breadcrumb {
    margin-bottom: 0;
    background: #fff;
    
    > li + li::before {
    content: "> ";
    padding:0;
    color: inherit;
}
}

.headerTagline {
    position: absolute;
    left: 0;
    top: -9999px;
}

@media screen and (min-width: 768px) {
    .headerTagline {
        position: static;
        display: block;
        margin-top: 13px;
        float: right;
        width: 137px;
        height: 13px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background: transparent url(../images/global/tagline.png) no-repeat 0 5px;
    }
}


.mainContainer {
    min-height: 760px;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    overflow: hidden;
}

.panel-public {
    border-radius: 0px;
    margin-top: 10px;
    box-shadow: none;
}

.pageTitle {
    color: #9d1348;
    font-size: 22px;
}

.pageDescription {
    padding-top: 10px;
}

.row {
    padding-bottom: 5px;
}
.status-colors--month{
    span{cursor: pointer;}
}
.status-colors{
    padding-top:30px;
    >div {
    display: inline-block;

        margin:0 5px 10px 0;
        p{
            font-size: 10px;
            -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
              display: block;
  margin: 0 0px 15px -10px;
        }
    }
    span{
        margin-right: 5px;
        
        display: inline-block;
      height: 25px;
      width: 15px;
    }
}
.status-box {
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
  height: 15px;
  width: 15px;
    border:none;
    &.redProduct{
         background-color: #e04854;
    }
    &.greenProduct {
         background-color: #7db658;
    }
    &.amberProduct {  
        background-color: #fdb913;
    }
}

.status-Grey {
    background-color: #C0C0C0;
  
}

.status-Green {
    background-color: #7db658;
  
}

.status-Amber {
    background-color: #fdb913;

}

.status-Red {
    background-color: #e04854;
}

.greenProduct {
    border-left: 3px solid #7db658;
}

.redProduct {
    border-left: 3px solid #e04854;
}

.amberProduct {
    border-left: 3px solid #fdb913;
}

.blueProduct {
    border-left: 3px solid #C0C0C0;
}

.homePageStatusView {
    padding-top: 20px;
    padding-bottom: 20px;
    th{
        font-size: 13px;
    }
}

.homePageStatusViewTable {
    border-collapse: separate;
    border-spacing: 8px;
    .status-Grey {
    background-color: #C0C0C0;
  
    }

    .status-Green {
        background-color: #7db658;

    }

    .status-Amber {
        background-color: #fdb913;

    }

    .status-Red {
        background-color: #e04854;
    }
    td a{
        display: block;
        height: 20px;
        width: 100%;
    }
}

    .homePageStatusViewTable tbody tr td, .homePageStatusViewTable thead tr th {
        border-top: 0px;
        white-space: nowrap;
        padding-top: 5px;
        padding-bottom: 5px;
     }

        .homePageStatusViewTable thead tr td:first-child, .homePageStatusViewTable tbody tr td:first-child {
            background-color: #f5f5f5;
            width: 30%;
        }


.footer{
    
    background:#3b3a3a
    h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: .03em;
  line-height: 1.1;
  margin-top: 0;
}
}
@media screen and (max-width:767px){.footer-container{border-bottom:0}
}
.cookie-notification{background:#1b1b1b}
.legal-notification,.cookie-notification{padding:20px 0}
.cookie-notification p{margin-bottom:0}
footer ul,.legal-notification li{margin-bottom:0}
.legal-notification{border:0;background:#333}
.legal-notification-links li{margin:0}
.legal-notification-links li:after{content:"|";display:inline-block;padding:0 15px;color:rgba(255,255,255,0.25)}
.legal-notification-links li:last-child:after{content:"+";display:none;padding:0}
@media screen and (max-width:480px){.legal-notification-links li{float:none;display:block;margin-bottom:1em;padding:0}
.legal-notification-links li:after{content:"";display:none;padding:0;color:transparent}
}
.legal-notification-links:before,.legal-notification-links:after{content:"";display:none}
.legal-notification-links>*{float:left}
.legal-notification-links>*+*{margin-left:0;padding-left:0;border-left:none}
.footer{padding-right:0;padding-left:0}
.footer-header{font-size:14px;text-transform:uppercase;color:#898989;width:auto;min-height:0;margin-bottom:1em}
.footer-links-item{width:auto;margin-top:0;margin-bottom:.5em}
.footer-links-anchor{font-size:inherit}
.legal-notification-copy{margin-bottom:0}
@media only screen and (min-width:768px) and (max-width:992px){.legal-notification-links-container{padding-top:0}
}
@media screen and (min-width:600px){.legal-notification-copy{float:right}
}
@media screen and (min-width:600px){.legal-notification-links-container{float:left}
}
@media screen and (max-width:600px){.legal-notification-copy{font-size:12px;margin-bottom:10px}
}
.footer{width:100%;background-color:#333;overflow:auto}
@media screen and (min-width:768px){.footer{border-bottom:0}
}
.footer-container{padding-top:10px;padding-bottom:10px;border-bottom:1px solid #ccc}
@media screen and (min-width:768px){.footer-container{border-style:none}
}
.footer-header{width:100%;color:#999;clear:both;min-height:22px;cursor:default}
.footer-links{width:100%;cursor:pointer;list-style:none;padding:2px 0 0;color:#ccc}
.footer-links-item{width:100%;margin:8px 0 0 0;color:inherit}
.footer-links-anchor{color:inherit}
.footer-text{width:100%;margin-top:10px;color:#ccc;cursor:default}
.footer-text a{color:#ccc;cursor:pointer}
.function-panel{width:100%;overflow:auto;margin-bottom:15px}
@media screen and (min-width:768px){.function-panel{margin-bottom:30px}
}
.legal-notification{background:#2e2e2e;border-bottom:1px solid #404040;border-top:1px solid #404040}
.cookie-notification{background:#2a2a2a}
.legal-notification-copy,.legal-notification a,.cookie-notification a,.cookie-notification p{color:#ccc;padding:0}
.footer{padding:20px;overflow:hidden}

.footer-links-anchor{font-size:13px}
.legal-notification{background:#2e2e2e;border-bottom:1px solid #404040;border-top:1px solid #404040}
.cookie-notification{background:#2a2a2a}
.legal-notification-copy,.legal-notification a,.cookie-notification a,.cookie-notification p{color:#ccc;padding:0}
.footer{padding:20px;overflow:hidden}

.footer-links-anchor{font-size:13px}

legal-notification-links{list-style:none;  padding: 0;}


.footer-header{font-size:14px;text-transform:uppercase;color:#898989}
