
<div class="breadcrumb">
        <ol class="breadcrumb container">
          <li class="active breadcrumbHeader">You are here</li>
          <li class="active"><a ui-sref="home">Home</a></li>
        </ol>
      </div>


<div class="container">
<div class="mainContainer">
  <div class="row">
    <div class="col-lg-12">
      <div class="pageTitle">Product Status</div>
    </div>
  </div>
  <div class="small">Updated on {{lastupdated.date}} at {{lastupdated.hour}}</div>

  <div class="pageDescription">This page offers performance information on Pearson products. You can come back here at any time to view the current status of some of our main products.</div>
  <hr>
 
  <status-boxes></status-boxes>


  <div class="homePageStatusView table-responsive">


    <table class="table homePageStatusViewTable" id="no-more-tables">
      <thead>
        <tr>
          <th>Products</th>
            <th>Last 24 h</th>
          <th ng-repeat="prod in daty">{{prod.date.date}}</th>
            <th>Last 30 days</th>
        </tr>
        
      </thead>

      <tbody>
        <tr ng-repeat="product in dane">
          <td ng-class="getStatus(product)">
            <a ui-sref="product.lastDay({jsonLocation: product.url, name: product.name})">{{product.name}}</a>
          </td>
            
            <td class="textField"><a ui-sref="product.lastDay({jsonLocation: product.url, name: product.name})">Last 24h </a></td>
            
          <td ng-repeat="status in product.updates" ng-class="{0:'status-Green', 1:'status-Amber', 2:'status-Red'}[status.status]">
<span class="dateMobile">{{status.date.date}}</span>
            <a ng-if="[status.status]==2 || [status.status]==1" ui-sref="product.lastMonth({date: status.date, jsonLocation: product.url, name: product.name})" ng-click="setDay(status.date.date)"></a>
          </td>
            <td class="textField"><a ui-sref="product.lastMonth({jsonLocation: product.url, name: product.name})" ng-click="setDay(false)">30 days view</a></td>
        </tr>
      </tbody>

    </table>




  </div>


</div>


</div>

