<div class="mainContainer">
  <div class="row">
    <div class="col-lg-12">
      <div class="pageTitle">Product Status</div>
    </div>
  </div>
  <div class="small">Updated 10mins ago - hh:mm (GMT)</div>

  <div class="pageDescription">This page offers performance information for Pearson Products. Check back here any time to view the current service status listed below.</div>
  <hr>
  <div class="text-right small">(All times are shown in GMT unless otherwise noted.)</div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="pull-right nav nav-pills">
        <li>

          <span class="status-box status-Grey"></span>Scheduled Maintenance</li>
        <li>
          <span class="status-box status-Green"></span>No Issues</li>
        <li>
          <span class="status-box status-Amber"></span>Service Disruption</li>
        <li>
          <span class="status-box status-Red"></span>Service Outage</li>
      </ul>
    </div>
  </div>


  <div class="homePageStatusView table-responsive">


    <table class="table homePageStatusViewTable" id="no-more-tables">
      <thead>
        <tr>
          <th>Products</th>
          <th ng-repeat="prod in daty">{{prod.date}}</th>
        </tr>
      </thead>
        
      <tbody>    
      <tr ng-repeat="product in dane">
        <td>
          <a ui-sref="product.lastDay({jsonLocation: product.url, name: product.name})">{{product.name}}</a>
        </td>
        <td ng-repeat="status in product.updates" ng-class="{0:'status-Green', 1:'status-Amber', 2:'status-Red'}[status.status]">
          
            <a ng-if="[status.status]==2 || [status.status]==1" ui-sref="product.lastDay({jsonLocation: product.url, name: product.name})">s</a>
        </td>
      </tr>
      </tbody>

    </table>




  </div>


</div>




