<div class="small">
  <p>All times are in the GMT timezone</p>
</div>
<div class="row">
    
    <!--
  <div class="col-sm-2">
    <div class="panel panel-default panel-public">
      <div class="panel-heading">
        <h3 class="panel-title">Chosen date</h3>
      </div>
      <div class="panel-body">
        <span class="stausDate">{{chosenDate()}}</span>
      </div>
    </div>
  </div>
-->
 
    <div class="col-sm-12 status-colors">
        <h3 class="panel-title serviceLogTitle" style="padding-bottom: 20px">Last 24 hours</h3>
<div ng-repeat="product in productData.rag_hrs">

    <p>{{product.date.hour}}</p>
        <span ng-class="{0:'status-Green', 1:'status-Amber', 2:'status-Red'}[product.status]"></span>
        </div>

    </div>
 
</div>

<status-boxes></status-boxes>



<div class="">
  <table class="table table-detail" id="no-more-tables">
    <thead>
      <tr>
        <th>Time</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in productData.updates">
        <td><span class="status-box" ng-class="getStatus(product)"></span>{{product.date.onlyDay}}, {{product.date.date}}, {{product.date.hour}} (GMT)</td>
        <td>{{product.message}}</td>
      </tr>
    </tbody>
  </table>









</div>

